
<html>
  <head>
    <title>Simple styled maps</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
function initMap() {
	var locations = [
      <% @eatspots.each do |eatspot| %>
        <% if eatspot == @eatspots.last %>
        ['<%= link_to eatspot.name, eatspot_path(eatspot) %><br/><%= eatspot.description %>', <%= eatspot.inputlattitude %>, <%= eatspot.inputlongitude %>, 4]
        <% else %>
        ['<%= link_to eatspot.name, eatspot_path(eatspot) %><br/><%= eatspot.description %>', <%= eatspot.latitude %>, <%= eatspot.inputlongitude %>, 4],
        <% end %>
      <% end %>
    ];
// . 

  var customMapType = new google.maps.StyledMapType([
      {
        stylers: [
          {hue: '#890000'},
          {visibility: 'simplified'},
          {gamma: 0.5},
          {weight: 0.5}
        ]
      },
      {
        elementType: 'labels',
        stylers: [{visibility: 'off'}]
      },
      {
        featureType: 'water',
        stylers: [{color: '#890000'}]
      }
    ], {
      name: 'Custom Style'
  });
  var customMapTypeId = 'custom_style';
 


  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: {lat: 40.876163, lng: -73.402858},  //  Huntington  . 
    mapTypeControlOptions: {
      mapTypeIds: [google.maps.MapTypeId.ROADMAP, customMapTypeId]
    }
  });

  map.mapTypes.set(customMapTypeId, customMapType);
  map.setMapTypeId(customMapTypeId);
 
  var marker, i;

  for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));


 


}

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"
        async defer></script>
  </body>
</html>